/* Import Roboto font from Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
/*
  Define CSS variables for colors
*/
:root {
  --background-color: #f6f6f6;
  --vigo-color: #f09831;
  --slider-color: #a3a3a3;
  --input-number-color: #ebebeb;
}
/* Prepare your work table. 😎 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 
  Push sliders down from <h1> tag
*/
h1 {
  text-align: center;
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-bottom: 0.9em;
}
/* 
  Define positioning of the elements inside <body>
*/
html,
body {
  /* height: 100%;
  width: 100%; */
  margin: 0;
  padding: 0;
  background-color: var(--background-color) !important;
  color: black;
}

body {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-family: "Roboto", sans-serif;
  /* flex-direction: column; */
}
/*
  Styling for calculator <div>
*/
.bmi-calculator {
  /* border: 5px solid white;
  -moz-box-shadow: 0px 0px 5px hsl(15, 2%, 55%);
  -webkit-box-shadow: 0px 0px 5px hsl(15, 2%, 55%);
  box-shadow: 0px 0px 10px hsl(0, 0%, 73.9%); */
  padding: 3em;
  /* margin: 2em; */
  /* height: 520px; */
  background-color: white;
}

.result {
  /* border: 5px solid white;
  -moz-box-shadow: 0px 0px 5px hsl(15, 2%, 55%);
  -webkit-box-shadow: 0px 0px 5px hsl(15, 2%, 55%);
  box-shadow: 0px 0px 10px hsl(0, 0%, 73.9%); */
  padding: 3em;
  /* margin: 2em; */
  /* height: 520px; */
  background-color: white;

  display: table-caption;
  width: 140%;
}

/*
  Styling for div elements wrapping both sliders
*/
.bmi-calculator-weight,
.bmi-calculator-height {
  /* Positioning */
  /*border: dotted 1px red;*/
  margin-bottom: 2.2em;
  width: 100%;
  /* background:
    repeating-linear-gradient(90deg, #c8c8c8, #c8c8c8 0.125em /* lines */ /*, transparent 0.125em, transparent 1.25em /* space between 
      */ /*) 80% no-repeat;
  /*background-size: 100% /* = 10*1.25em + .125em */ /*20%;*/
}
/*
  Styling for both sliders
*/
.weight-slider,
.height-slider {
  width: 100%;
  height: 1px;
  border-radius: 10px;
  background: var(--slider-color); /* Light grey background. */
  outline: none; /* Remove outline. */
  /*opacity: 0.7; */ /* Set transparency (for mouse-over effects on hover) */
  /*-webkit-transition: .2s;*/ /* 0.2 seconds transition on hover */
  /*transition: opacity .2s;*/
}

/* Mouse-over effects 🖱 računalniška miška */
/*.weight-slider:hover, .height-slider:hover */ /*{
  opacity: 1; */ /* Fully shown on mouse-over */ /*
}*/

/* DEFINE STYLING FOR INPUT RANGE SLIDERS & INPUT TYPE NUMBER FOR BROWSER COMPATIBILITY
  https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
*/
input[type="range"] {
  -moz-appearance: none; /* Override default CSS styles */
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
}

/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2.5px solid #6d1a36;
  height: 20px;
  width: 20px;
  border-radius: 40px;
  background: white;
  cursor: pointer;
  margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */ /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
  border: 2.5px solid #6d1a36;
  height: 20px;
  width: 20px;
  border-radius: 40px;
  background: white;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
  border: 2.5px solid #6d1a36;
  height: 20px;
  width: 20px;
  border-radius: 40px;
  background: white;
  cursor: pointer;
}

/* INPUT TYPE NUMBER STYLING*/
input[type="number"] {
  -moz-appearance: none; /* Override default CSS styles */
  -webkit-appearance: none;
  cursor: pointer;
  /* Real styling part :D */
  background: var(--input-number-color);
  border-style: none;
  height: 30px;
  width: 60px;
  margin-left: 20px;
  margin-right: 10px;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
}

input[type="number"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

/*
  *** END OF DEFAULT STYLING VALUES FOR INPUT RANGE SLIDERS & INPUT TYPE NUMBER ***
*/

/*
  Styling for "Calculate" button
*/
.gumb {
  text-align: center;
  font-size: 1em;
  color: white;
  width: 100%;
  margin-bottom: 10px;
  padding: 11px 32px;
  border: none;
  background-color: #596f62;
  text-transform: uppercase;
  cursor: pointer;
}

/*
  Media querie for iPhone 5
*/
@media only screen and (max-width: 650px) {
  .bmi-calculator {
    padding: 1em;
  }
  .result {
    padding: 1em;
    width: 100%;
  }
  h1 {
    font-size: 1.5em;
  }
}

.hoh {
  display: flex;
}

.bmiForm {
  display: flex;
}

#global {
  display: none;
  background-color: white;
}

.imgjs {
  margin-left: -1%;
  margin-bottom: 16%;
}

.bmi {
  text-align: center;
}

#evaluationMessage {
  text-align: center;
}

/* #hb {
  width: 40%;
} */

.text {
  width: 100%;
}
.flex {
  display: flex;
  justify-content: center;
}

.hoh {
  display: flex;
  justify-content: center;
}

:root {
  --fir-font-article: "adobe-garamond-pro", "Times New Roman", Times;
  --fir-font-header: "foco", Helvetica;
  --fir-blue-twitter-alpha: rgba(85, 172, 238, 0.6);
  --fir-color-grey: rgba(0, 0, 0, 0.4);
}

.fir-clickcircle {
  height: 80px;
  width: 80px;
  border-radius: 100px;
  cursor: pointer;
}

.fir-image-figure {
  margin: 0;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fir-image-figure .caption,
.fir-image-figure figcaption {
  padding-left: 15px;
}

html.wf-active .fir-image-figure .fig-author-figure-title {
  font-family: var(--fir-font-header);
  font-size: 16px;
}

.fir-image-figure .fig-author-figure-title {
  color: var(--fir-color-grey);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-top: 2px;
}

.fir-imageover {
  position: relative;
  display: flex;
}

.fir-imageover-color {
  height: 80px;
  width: 80px;
  position: absolute;
  background: var(--fir-blue-twitter-alpha);
  background-image: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  animation: fadeInFadeOut 2s infinite;
  top: 0;
  left: 0;
}

.fir-imageover-image {
  position: absolute;
  top: 0;
  left: 0;
  animation: fadeInFadeOut 2s infinite;
}

@keyframes fadeInFadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.popup {
  position: absolute;
  /* top: -108%; */
  left: 52%;
  /* opacity: 0; */
  transform: translate(-50%, -50%) scale(1.25);
  width: 361px;
  padding: 12px 30px;
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgb(0 0 0 / 15%);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}

@media only screen and (max-width: 650px) {
  .popup {
    position: absolute;
    /* top: -109%; */
    left: 48%;
    /* opacity: 0; */
    transform: translate(-50%, -82%) scale(1.25);
    width: 261px;
    padding: 0px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgb(0 0 0 / 15%);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms,
      transform 200ms ease-in-out 0ms;
    font-size: 11px;
  }
}

.boxcalc {
  padding: 1em;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 1em;
  min-width: 380px;
  max-width: 700px;
  background-color: #596f62;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
  min-width: 250px;
}

.input label {
  font-size: 1rem;
}

.input input {
  /* padding: 6px 12px; */
  border-radius: 10px;
  background: rgb(239, 239, 239);
  border: none;
}

.button {
  display: block;
  margin: 0 auto 1em;
  padding: 6px 12px;
  text-align: center;
  font-size: 1em;
  color: white;
  width: 14%;
  margin-bottom: 10px;
  border: none;
  background-color: #596f62;
  text-transform: uppercase;
  cursor: pointer;
}

.info {
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.3);
  border: none;
  padding: 1em;
  border-radius: 10px;
}

.info li {
  margin-bottom: 0.3em;
}

.output {
  line-height: 1.5em;
  font-size: 1.2rem;
}

.main_title {
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

#calca {
  display: grid;
  place-items: center;
  padding: 1em;
  margin-top: 3%;
}

@media only screen and (max-width: 650px) {
  .boxcalc {
    min-width: 330px;
  }
}
