* {
  margin: 0;
  padding: 0;
}
.bannerhead {
  width: 100%;
  height: 18.75em;
  top: 0;
  left: 0;
  background: url(../stock/MyLifeMyDiet_positive.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 3px #333;
}

.overlay {
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  text-align: center;
  color: #f5f7fa;
}

.font-styles {
  font-family: "Pacifico", cursive;
  font-weight: normal;
  padding: 5%;
}

.title {
  font-size: 4.2em;
}

.sub-title {
  font-size: 2.1em;
  font-style: italic;
  margin-top: -20px;
}

.container1 {
  margin-top: 8%;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 2%;
}

.koho {
  font-family: "ReithSans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  color: #000000;

  /* font-family: "ReithSans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #141414; */
}

.text {
  padding: 2.5%;
}

@media only screen and (max-width: 650px) {
  .bannerhead {
    height: 8.75em !important;
  }

  .banner-me {
    height: 282px !important;
    background-attachment: unset !important;
  }
  .text-box-wrapper {
    transform: translate(0%, 7%) scale(1) !important;
  }
  .title {
    font-size: 41px !important;
  }
  .title2 {
    font-size: 26px !important;
  }
  .title3 {
    font-size: 26px !important;
  }
}

.image {
  display: flex;
  justify-content: center;
}

.img1 {
  width: 100%;
  height: 18.75em;
  top: 0;
  left: 0;

  background-position: center;
  background-size: cover;
}

.text-box-wrapper {
  top: 47%;
  left: 1em;
  right: 1em;
  text-align: center;
  transform: translate(-28%, 17%) scale(1);
}

.title {
  font: 600 48px "Kings";
  font-style: normal;
  letter-spacing: 0.02em;
  line-height: 1.11em;
  margin-bottom: 2rem;
  color: #fff;
  text-shadow: 0 0 2px rgb(0 0 0 / 50%);
}

.title2 {
  font: 600 35px "Kings";
  font-style: normal;
  letter-spacing: 0.02em;
  line-height: 1.11em;
  margin-bottom: 2rem;
  color: #fff;
  text-shadow: 0 0 2px rgb(0 0 0 / 50%);
}
.title3 {
  font: 600 35px "Kings";
  font-style: normal;
  letter-spacing: 0.02em;
  line-height: 1.11em;
  margin-bottom: 2rem;
  color: #fff;
  text-shadow: 0 0 2px rgb(0 0 0 / 50%);
}
.text-box-wrapper p {
  color: #fff;
  font-size: 20px;
  line-height: 2.5rem;
  font-weight: 600;
}

.banner-button {
  padding: 0 2.5em;
  border-radius: 1.725em;
  display: inline-block;
  font-weight: 700;
  line-height: 3.75em;
  height: 3.45em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  background-color: #596f62;
  color: #fff;
  -webkit-transition: background-color 0.25s ease-out;
  transition: background-color 0.35s ease-out, padding 0.25s ease-out,
    margin 0.25s ease-out;
}
.banner-button:hover {
  transition: 0.5s;
  background-color: #6d1a36;
}

body > div.about-me > div > div > a {
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

.imageAcc {
  background-size: cover !important;
  object-fit: cover !important;
}

.banner-me {
  background: url(https://images.unsplash.com/photo-1611077543693-a0194a16b034?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1006&q=80)
    no-repeat;
  background-attachment: fixed;
  background-size: cover !important;
  object-fit: cover !important;
  width: 100%;
  height: 365px;
}
