/* ==== GENERAL STYLES ==== */

* {
  box-sizing: border-box;
}

strong {
  font-weight: 700;
}

/* ==== SIMPLE FOOTER ==== */

footer {
  background-color: #6d1a36;
  display: table;
  width: 100%;
  height: 1rem;
  text-align: center;
  padding: 1rem;
  font-family: "Arial", sans-serif;
  font-size: 0.875rem;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
}

footer small {
  color: #ccc;
  letter-spacing: 0.025rem;
  margin-bottom: 1.5rem;
  display: block;
}

.footer-nav a {
  color: #c74f78;
  text-decoration: none;
  margin: 0 0.5rem;
  display: inline-block;
}

.footer-nav a:hover {
  color: #f26896;
  transition: color 0.15s ease-in-out;
}
